:root {
  --overpass--300-600: "Overpass", sans-serif;
  --ubuntu-400-500-700: "Ubuntu", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

nav {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  gap: 5em;
}

.sect-1 {
  background-image: url(./images/bg-pattern-intro-mobile.svg),
    linear-gradient(180deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-size: 250%;
  background-position: center;
  height: 70vh;
  border-radius: 0 0 0 100px;
}
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 2em auto;
}

.cta {
  width: 90%;
  margin: auto;
  margin-top: 7em;
}
h1 {
  font-size: 2.2em;
  color: white;
  font-family: var(--ubuntu-400-500-700);
  font-weight: 400;
}

.sect-1 p {
  color: white;
  font-size: 1.1em;
  font-family: var(--overpass--300-600);
  font-weight: 300;
  padding: 1em;
}
.sect-2 img,
.sect-3 img,
.sect-4 img {
  width: 100%;
}
.btns {
  width: 100%;
  margin: 1em auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btns button {
  border: none;
  background: none;
  font-family: var(--ubuntu-400-500-700);
  font-weight: 700;
  font-size: 1em;
  padding: 1em;
  border-radius: 100px;
}
.btns button:nth-of-type(1) {
  background-color: white;
  color: hsl(353, 100%, 62%);
}
.btns button:nth-of-type(2) {
  border: 1px solid white;
  color: white;
}
h2 {
  font-size: 1.4em;
  font-family: var(--ubuntu-400-500-700);
  font-weight: 700;
  color: hsl(208, 49%, 24%);
}
.sect-2 {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.info {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.sect-2 p,
.sect-4 p {
  font-size: 1em;
  font-family: var(--overpass--300-600);
  font-weight: 300;
  line-height: 1.5;
  color: hsl(237, 17%, 21%);
}
.sect-3 {
  background-image: url(./images/bg-pattern-circles.svg),
    linear-gradient(180deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: -120px -200px, 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 75vh;
  border-radius: 0 100px 0 100px;
  margin-top: 10em;
}
.sect-3 img {
  margin-top: -50%;
}
h3 {
  font-size: 2em;
  font-family: var(--overpass--300-600);
  font-weight: 600;
  color: white;
}
.sect-3 p {
  font-size: 1em;
  line-height: 1.5em;
  color: rgba(255, 255, 255, 0.755);
  font-family: var(--overpass--300-600);
  font-weight: 300;
}
.sect-4 {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

footer {
  background-color: hsl(240, 10%, 16%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2.5em 0em;
  border-radius: 0 100px 0 0;
}
.logo-footer {
  width: 90px;
}
ul {
  font-family: var(--ubuntu-400-500-700);
  font-weight: 400;
}
h4 {
  padding-bottom: 1em;
}
li {
  list-style: none;
  line-height: 1.5em;
}
footer li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.713);
}
.attribution a {
  color: white;
  font-family: var(--overpass--300-600);
  font-weight: 400;
}
.attribution p {
  font-family: var(--overpass--300-600);
  font-weight: 300;
}
.sect-1 {
  position: relative;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 255, 250);
  position: absolute;
  border-radius: 5px;
  left: 1.5em;
  padding: 1.4em;
  width: 90%;
  display: none;
}
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 90%;
  margin: auto;
}
.nav-links button {
  margin-bottom: 1em;
}
nav ul {
  text-align: center;
  width: 90%;
  margin: auto;
}
ul div {
  background-color: hsla(240, 3%, 79%, 0.242);
  padding: 1em;
  border-radius: 5px;
  display: none;
}
nav button {
  width: 100%;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
  font-family: var(--overpass--300-600);
  font-weight: 600;
}
button img {
  padding: 0 0.5em;
}
nav li {
  width: 100%;
  line-height: 2em;
}
nav a {
  text-decoration: none;
  color: hsl(207, 13%, 34%);
  font-weight: 500;
}
.divider {
  width: 100%;
  margin: 1em auto;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.205);
}
.nav-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
}
.nav-btns button:nth-of-type(1) {
  margin-top: 1em;
  width: 50%;
  padding: 0.8em;
}
.nav-btns button:nth-of-type(2) {
  background-image: linear-gradient(
    90deg,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  width: 50%;
  padding: 0.8em;
  color: white;
  border-radius: 50px;
}
button,
a {
  cursor: pointer;
}
#hamburger-icon {
  cursor: pointer;
}
.active #hamburger-icon {
  content: url(./images/icon-close.svg);
}
.active nav {
  display: flex;
}
.open div {
  display: block;
}
.open img {
  transform: rotate(180deg);
}
@media screen and (min-width: 992px) {
  header {
    display: grid;
    grid-template-columns: 10% 85%;
    width: 90%;
    margin: auto;
  }
  #hamburger-icon {
    display: none;
  }
  .divider {
    display: none;
  }
  nav {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: none;
    left: 0;
    width: 100%;
    gap: 10em;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  .nav-link {
    width: 20%;
    margin: 0;
  }
  .nav-links button {
    margin: 0;
    width: 30%;
    color: rgba(255, 255, 255, 0.713);
  }
  .nav-btns {
    flex-direction: row;
    width: 30%;
    justify-content: end;
    gap: 0;
  }
  .nav-btns button:nth-of-type(1) {
    width: 50%;
    color: rgba(255, 255, 255, 0.755);
    padding: 0.8em;
  }
  .nav-btns button:nth-of-type(2) {
    width: 50%;
    background-image: none;
    background-color: white;
    color: hsl(353, 100%, 62%);
  }
  .nav-link img {
    content: url(./images/icon-arrow-light.svg);
  }
  .nav-link {
    position: relative;
  }
  .nav-link div {
    /* display: block; */
    position: absolute;
    background-color: white;
    right: 1;
    margin-top: 1em;
    width: max-content;
    padding-right: 3em;
    box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.138);
  }
  .nav-link li {
    text-align: start;
  }
  nav button:hover {
    text-decoration: underline;
  }
  .nav-btns button:nth-of-type(2):hover {
    text-decoration: none;
    background: none;
    background-color: hsl(355, 100%, 74%);
    color: white;
  }
  .nav-link a:hover {
    color: hsl(240, 10%, 16%);
    font-weight: 700;
  }
  .cta {
    margin-top: 5em;
  }
  .cta h1 {
    font-size: 3em;
  }
  .cta p {
    color: rgba(255, 255, 255, 0.761);
    text-align: center;
  }
  .btns {
    width: 30%;
  }
  .btns button:nth-of-type(1):hover {
    background-color: hsl(355, 100%, 74%);
    color: white;
  }
  .btns button:nth-of-type(2):hover {
    background-color: white;
    color: hsl(355, 100%, 66%);
  }
  .sect-2 img,
  .sect-3 img,
  .sect-4 img {
    width: fit-content;
  }
  h2,
  p {
    text-align: start;
  }
  .sect-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 90%;
    width: 100%;
    margin-left: 2em;
  }
  .sect-2 img {
    content: url(./images/illustration-editor-desktop.svg);
    width: 120%;
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: flex-end;
    margin-left: 2em;
  }
  .sect-2 .title {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    font-size: 2em;
    align-self: end;
  }
  .sect-2 .info {
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: start;
  }
  .sect-2 .info:nth-of-type(1) {
    align-self: flex-start;
    margin-top: 3em;
  }
  .sect-2 .info:nth-of-type(2) {
    align-self: flex-end;
  }
  .sect-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    background-size: auto;
  }
  .sect-3 .info {
    grid-column: 2/3;
    align-self: flex-start;
    margin: 7em auto;
  }
  .sect-3 h3 {
    text-align: start;
    font-size: 2.5em;
  }
  .sect-3 img {
    margin-top: -2em;
    align-self: flex-start;
    justify-self: center;
  }
  .sect-4 {
    display: grid;
    grid-template-columns: 45% 55%;
    width: 100%;
    margin: 5em 0;
  }
  .sect-4 img {
    grid-column: 1/2;
    content: url(./images/illustration-laptop-desktop.svg);
    width: 120%;
    grid-row: 1/3;
    margin-left: -11em;
  }
  .sect-4 .info {
    grid-column: 2/3;
    margin: 0;
  }
  .sect-4 .info:nth-of-type(2) {
    align-self: flex-start;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  footer h4,
  footer li {
    text-align: start;
  }
  footer ul {
    align-self: flex-start;
    justify-self: start;
  }
  footer li {
    line-height: 2em;
  }
  footer img {
    align-self: flex-start;
    justify-self: center;
  }
  footer .attribution {
    text-decoration: underline;
  }
}
