/* font-family: "Ubuntu", sans-serif; */
/* font-family: "Overpass", sans-serif; */
:root {
  /* Neutral */

  --White-text: hsl(0, 0%, 100%);
  --Grayish-blue-footer-text: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --Very-dark-blackblue-footer: hsl(240, 10%, 16%);

  /* Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-family: "Overpass", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

ul,
li,
a {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.header {
  background-image: linear-gradient(
    to right,
    var(--Very-light-red),
    var(--Light-red)
  );
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: "Overpass", sans-serif;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.lista {
  display: flex;
  align-items: center;
  gap: 40px;
}
.grid-menu {
  display: grid;
  place-items: center;
  padding-top: 100px;
  gap: 8px;
}
.grid-menu h1 {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--White-text);
}
.grid-menu p {
  font-size: 0.9rem;
  color: var(--Grayish-blue-footer-text);
}
.lista a {
  color: var(--White-text);
}
.button-first {
  border: none;
  text-decoration: none;
  background: transparent;
  padding: 12px 26px;
  margin-right: 6px;
  color: var(--White-text);
  cursor: pointer;
  box-sizing: border-box;
}
.button-second {
  border: none;
  padding: 12px 26px;
  border-radius: 1.8rem;
  color: var(--Light-red);
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
  transition: ease 0.2s;
}
.button-first:hover {
  border: 1px solid white;
  border-radius: 1.8rem;
}
.button-second:hover,
.button-third:hover {
  background: transparent;
  border: 1px solid white;
  color: var(--White-text);
}
.button-third {
  padding: 10px 10px;
  border-radius: 2rem;
  border: none;
  color: var(--Light-red);
  font-weight: 700;
  font-size: 0.8em;
}
.botao {
  display: flex;
  gap: 20px;
  padding-top: 26px;
}
.button-fourth {
  padding: 10px 10px;
  border-radius: 2em;
  border: 1px solid var(--White-text);
  background: transparent;
  color: var(--White-text);
}
.button-fourth:hover {
  background: white;
  color: var(--Light-red);
}
.lista li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lista li::after {
  content: "";
  display: inline-flex;
  width: 10px;
  height: 8px;
  background-image: url(./images/icon-arrow-light.svg);
  cursor: pointer;
}

/* header */
@media (max-width: 604px) {
  .lista {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .grid-menu h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .grid-menu p {
    font-size: 1.2rem;
    text-align: center;
  }
}
